<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layuiAdmin 角色管理 iframe 框</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/layuiadmin/layui/css/layui.css" media="all">
</head>

<body>

    <div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <input type="text" name="role_name" lay-verify="required" placeholder="请输入角色名" autocomplete="off" class="layui-input" value="{$item['role_name']}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否开启</label>
            <div class="layui-input-block">
              <input type="checkbox" name="status" lay-skin="switch" lay-text="是|否" value="1" {$item['status']==1?'checked':''}>
            </div>
          </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限范围</label>
            <div class="layui-input-block">
                <div id="auth"></div>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="hidden" name="id" value="{$item['id']}">
            <button class="layui-btn" lay-submit lay-filter="LAY-user-role-submit" id="LAY-user-role-submit">提交</button>
        </div>
    </div>

    <script src="__PUBLIC__/layuiadmin/layui/layui.js"></script>
    <script>
        var dataStr='{$list}'
        var auth_ids = '{$auth_ids}'
        layui.config({
            base: '__PUBLIC__/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form' , 'tree'], function () {
            var $ = layui.$
                , form = layui.form
                , tree = layui.tree;

                //渲染
            var inst = tree.render({
                elem: '#auth'  //绑定元素
                ,showCheckbox: true  //是否显示复选框
                , data: JSON.parse(dataStr)
                , id: 'authId' //定义索引
            });

            tree.setChecked('authId', JSON.parse(auth_ids));
        })
    </script>
</body>

</html>