<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		管理员管理
		<span class="c-gray en">&gt;</span>
		管理员编辑 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<form class="form form-horizontal" action="{:U('admin/profile/edit')}" method="post" id="form-admin-add">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">账号：</label>
					<div class="formControls col-xs-6 col-sm-7">
						<input type="hidden" value="{$Think.session.user.user_name}" name="user_name">
						<span type="text" style="line-height: 28px;">{$Think.session.user.user_name}</span>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">原始密码：</label>
					<div class="formControls col-xs-6 col-sm-7">
						<input type="password" class="input-text" autocomplete="off" value="" placeholder="密码"
							name="password">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">新密码：</label>
					<div class="formControls col-xs-6 col-sm-7">
						<input type="password" class="input-text" autocomplete="off" placeholder="新密码" name="password2"
							id="password">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">确认新密码：</label>
					<div class="formControls col-xs-6 col-sm-7">
						<input type="password" class="input-text" autocomplete="off" placeholder="确认新密码"
							name="password3">
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</article>
	</div>
</section>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
	$(function () {
		$("#form-admin-add").validate({
			rules: {
				password: {
					required: true,
				},
				password2: {
					required: true,
				},
				password3: {
					equalTo: "#password"
				},
			},
			onkeyup: false,
			focusCleanup: true,
			success: "valid",
			submitHandler: function (form) {
				form.submit();
			}
		});
	});
</script>